@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono&family=Ubuntu+Mono:ital@1&display=swap%27');

* {
    padding: 0;
    margin: 0;
}

h1,h2 {
    text-decoration: underline;
}

h1 {
    padding-bottom: 1vh;
}

h2 {
    padding-top: 1vh;
}

p {
    font-size: 1.1vw;
    font-weight: 300;
}

footer {
    color: white;
    background-color: rgb(49, 48, 48);
}

ul {
    padding-left: 1vw;
}

.hyperlink {
    font-size: larger;
}

.terminal {
    color: rgb(224, 224, 224);
    border: 0.4vh solid grey;
    background-color: black;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: #20C20E;
    font-family: "Ubuntu Mono", monospace;
}

#user-list {
    border: #20C20E 0.4vh solid;
}